<div class="containerQuestion">
    <div class="row headerQuestion">
        <HeaderQuestionComponent Header="@Header"/>
    </div>
    <div class="row contentQuestion">
        <RadzenDropDown @bind-Value="selectedChoice" Data=@Choices Style="width: 100%; max-width: 400px;" Name="DropDownBindValue" />
    </div>
</div>

@code {
    [Parameter]
    public HeaderQuestion Header { get; set; }
    [Parameter]
    public IEnumerable<string> Choices { get; set; }
    private string _selectedChoice;
    private string selectedChoice
    {
        get => _selectedChoice;
        set
        {
            if (value == _selectedChoice) return;
            _selectedChoice = value;
            string[] tab = Choices.ToArray<string>();
            for(int i=0;i<tab.Length;i++)
            {
                if(tab[i]==value)
                {
                    Answer = i.ToString();
                }
            }
        }
    }
    private string _answer;
    [Parameter]
    public string Answer
    {
        get => _answer;
        set
        {
            if (value == _answer) return;
            _answer = value;
            AnswerChanged.InvokeAsync(value);
        }
    }
    [Parameter]
    public EventCallback<string> AnswerChanged { get; set; }
    protected override void OnParametersSet()
    {
        if(_answer is not null)
            _selectedChoice = Choices.ElementAt(Convert.ToInt32(_answer));
    }
}