<div class="container">
    <div class="row">
        <RadzenText Text="@($"{QuestionId}. {QuestionText}")"/>
    </div>
    <div class="row">
        @foreach(int i in Enumerable.Range(1,10))
        {
            <p style="display: inline-block;float: left; width: auto;height: auto;padding: 0;">
                <RadzenButton Variant="Variant.Outlined" ButtonStyle="ButtonStyle.Base" Text="@i.ToString()" Click="@((args) => click_button(i))" />
            </p>
        }
    </div>
</div>

@code {
    [Parameter]
    public string QuestionText { get; set; }
    [Parameter]
    public int QuestionId { get; set; }
    private string _answer;
    [Parameter]
    public string Answer
    {
        get => _answer;
        set
        {
            if (value == _answer) return;
            _answer = value;
            AnswerChanged.InvokeAsync(value);
        }
    }
    [Parameter]
    public EventCallback<string> AnswerChanged { get; set; }
    private void click_button(int value)
    {
        Answer = value.ToString();
    }
}
